.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f5;

}

.loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
}

.loginLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
}

.loginLogo {
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 40px;
}

.loginDesc {
    font-size: 25px;
}

.loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.loginBox {
    height: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus {
    outline: none;
}

.loginButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.loginForgot {
    text-align: center;
    color: #1775ee;
}

.registerButton {
    width: 80%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}